PORT=3000
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/upskill?schema=public"

JWT_SECRET=secret-key-for-jwt
JWT_EXPIRES_IN=15m

MANAGER_EMAIL=manager@example.com
MANAGER_PASSWORD=ManagerPass123
